@tailwind base; 
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg-pic {
  background-image: url("https://www.astungt.se/cdn/shop/files/hero_blackwhite_233079be-4f76-487a-bc1c-863ce690da47.jpg?v=1695339744&width=1920");
}